.header-img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.uk-dropnav-dropbar {
  background-color: #0056a6;
}
/* .header-img > img {
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
  vertical-align: middle !important;
} */
