{% extends "./components/base.html" %} {% block content %} {% load static %}
<body>
  <div
    class="uk-container"
    style="
      margin-top: 10px;
      margin-bottom: 25px;
      max-width: 980px;
      min-height: 320px;
    "
  >
    <h3
      style="
        font-size: 25px;
        color: #0056a6;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Подача докладов
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
    Доклады принимаются для включения в программу SCO/CIS 2024. Чтобы облегчить процесс подачи заявки и последующий процесс последующих действий, пожалуйста, примите во внимание следующие рекомендации, информацию и сроки:
    </p>
    <ul>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Доклады необходимо подать <b>до 14 февраля 2024г.</b> через онлайн-инструмент подачи.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Основной автор или контактное лицо должно указать полное имя и контактную информацию.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Пожалуйста, также включите краткую биографию докладчика в один абзац в теле письма.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Авторам указать предпочитаемый вид презентации (устный или
        плакат).
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Доклады должны быть написаны текстом и не должны содержать таблиц, рисунков и фотографий.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Отправка докладов подтверждает ваше согласие на публикацию докладов в официальном сборнике конференции.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Название доклада – должно быть ограничено 50 словами.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Текст доклада – ограничен примерно 700 словами (<1 страницы формата А4)
        </span>
      </li>
    </ul>
    {% comment %}
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #00147d;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #00147d;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >SUBMIT NOW</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
  {%endblock %}
</body>
