{% extends "./components/base.html" %} {% block content %} {% load static %}
<body>
  <div
    class="uk-container"
    style="
      margin-top: 10px;
      margin-bottom: 25px;
      max-width: 980px;
      min-height: 320px;
    "
  >
    <h3
      style="
        font-size: 25px;
        color: #0056a6;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Инструкция по загрузке докладов 
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
    Тезисы оригинальных презентаций принимаются для включения в программу конференции. Чтобы облегчить процесс подачи заявки и последующий процесс обработки, пожалуйста, примите во внимание следующие рекомендации, информацию и сроки:
    </p>
    <ul style="margin-top: -15px">
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Подача тезисов будет открыта с 1 марта 2024 года <b>до 15 апреля 2024 года</b> и осуществляется через <span style="text-decoration: underline;">онлайн-приложение</span>.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Авторы выбирают предпочитаемый симпозиум, на который они подают тезисы.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Авторы указывают предпочитаемый вид доклада (устный или дистанционный).
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Авторы указывают ФИО, организацию и электронный адрес, в том числе для всех соавторов.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Тезисы должны быть написаны открытым текстом и не должны содержать таблиц, рисунков и фотографий.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Название доклада должно быть ограничено 30 словами.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Текст аннотации должен быть ограничен 500 словами (<1 страницы формата А4)
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Подача тезисов подтверждает ваше согласие на публикацию тезисов в официальных материалах конференции.
        </span>
      </li>
    </ul>
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #00147d;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #00147d;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >Загрузить сейчас</a
            >
          </div>
        </div>
      </div>
    </div>
    <h3
      style="
        font-size: 25px;
        color: #0056a6;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Инструкция по загрузке статей и презентаций 
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
    По завершении рассмотрения тезисов принятые тезисы будут включены в программу конференции и отправлено соответствующее уведомление авторам. Для отобранных тезисов должны быть загружены полные статьи и оригинальные презентации. Пожалуйста, примите во внимание следующие рекомендации, информацию и сроки:
    </p>
    <ul style="margin-top: -15px">
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Полные версии статей и презентаций должны быть представлены <b>до 19 мая 2024 года</b> через <span style="text-decoration: underline;">онлайн-приложение</span>.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Статьи должны быть подготовлены в формате, указанном в шаблоне здесь, и загружены в формате PDF.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Полный текст статьи должен состоять минимум из двух страниц и максимум из восьми страниц.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Слайды презентации должны быть подготовлены в формате 16:9 и загружены в формате .pptx.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Отправка вашей статьи и презентации подтверждает ваше согласие на публикацию в официальных материалах конференции.
        </span>
      </li>
    </ul>  
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #00147d;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #00147d;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >Загрузить сейчас</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endblock %}
</body>
