{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Размещение
  </h3>
  <p
    style="
      font-size: 1.07rem;
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    "
  >
  Ниже вы найдете список некоторых рекомендуемых отелей в Москве, расположенных
  в шаговой доступности от РУДН.
  </p>
  <table class="uk-table uk-table-divider" style="text-align: center">
    <!-- <thead>
        <tr>
            <th style="color: black; text-align: center; font-size: 1.07rem;"><a href="https://hotelsalut.ru/en/" style="text-decoration: underline; color: black">Salut Hotel</a><br>158 Leninskiy Av., Moscow, Russia</th>
            <th style="color: black; text-align: center; font-size: 1.07rem;"><a href="https://astrus.ru/en/" style="text-decoration: underline; color: black">Astrus Hotel</a><br>146 Leninskiy Av., Moscow, Russia</th>
        </tr>
    </thead> -->
    <tbody>
      <tr>
        <td style="color: #002159; text-align: center; font-size: 1.07rem">
          <a
            href="https://hotelsalut.ru/en/"
            style="text-decoration: underline; color: #002159"
            >Салют отель</a
          ><br />Ленинский проспект, д. 158, Москва
        </td>
        <td style="color: #002159; text-align: center; font-size: 1.07rem">
          <a
            href="https://astrus.ru/en/"
            style="text-decoration: underline; color: #002159"
            >Аструс отель</a
          ><br />Ленинский проспект, д. 146, Москва
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="{% static '/images/information_pages/accommodation/hotel1.png' %}"
            width="300"
            height="200"
          />
        </td>
        <td>
          <img
            src="{% static '/images/information_pages/accommodation/hotel2.png' %}"
            width="300"
            height="200"
          />
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="{% static '/images/information_pages/accommodation/hotel3.png' %}"
            width="300"
            height="200"
          />
        </td>
        <td>
          <img
            src="{% static '/images/information_pages/accommodation/hotel4.png' %}"
            width="300"
            height="200"
          />
        </td>
      </tr>
      <tr>
        <td style="color: #002159; text-align: center; font-size: 1.07rem">
          <a
            target="_blank"
            href="https://www.google.ru/maps/dir/Salut,+Leninskiy+Prospekt,+158,+Moscow,+119571/55.6522531,37.4999316/@55.652437,37.4968309,17.34z/data=!4m19!4m18!1m15!1m1!1s0x46b54d71a08112e5:0x1b67d08c6b23371e!2m2!1d37.4827611!2d55.6513553!3m4!1m2!1d37.5006563!2d55.6528915!3s0x46b54d6cdaa4093b:0x4c1e4e4eb87559aa!3m4!1m2!1d37.5006079!2d55.6527601!3s0x46b54d6cdb485f8f:0x9c69b47fca9c6649!1m0!3e2?hl=en"
            style="text-decoration: underline; color: #002159"
            >Путь до места проведения конференции</a
          ><br />23 мин (1,7 км)
        </td>
        <td style="color: #002159; text-align: center; font-size: 1.07rem">
          <a
            target="_blank"
            href="https://www.google.ru/maps/dir/Astrus+-+Tsentral'nyy+Dom+Turista,+Leninskiy+Prospekt,+146,+Moscow,+119526/55.6522531,37.4999316/@55.654348,37.4945087,16z/data=!3m1!4b1!4m9!4m8!1m5!1m1!1s0x46b54d0d6b998965:0xf67725c3bf31142!2m2!1d37.4966656!2d55.6567701!1m0!3e2?hl=en"
            style="text-decoration: underline; color: #002159"
            >Путь до места проведения конференции</a
          ><br />11 мин (850 м)
        </td>
      </tr>
    </tbody>
  </table>
</div>
{%endblock %}
