{% extends "./components/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/information_pages/committee/styles.css' %}" />

<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
    width: 100%;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Программный комитет
  </h3>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Yury Razoumny - RUDN University
  </p>
  <table class="uk-table uk-table-striped" style="color: #002159; font-size: 1.07rem;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: justify;">
    <thead>
        <tr>
            <th>Table Heading</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>


</div>
{%endblock %}
