{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    О конференции
  </h3>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  <b>Конференция по информационным и техническим системам (совместно с университетами ШОС и СНГ)</b> проводится с 28 по 30 мая 2024 года в Москве.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Конференция проводится на площадке <b>Российского университета дружбы народов имени Патриса Лумумбы (РУДН)</b> совместно с университетами стран <b>Шанхайской организации сотрудничества</b> и <b>Содружества Независимых Государств</b>.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Мы предлагаем участникам <b>гибридный формат участия</b>. Участники могут посетить все мероприятия конференции и выступить с докладом как в очном, так и в заочном формате. <b>Языки проведения конференции</b>: русский и английский.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Доклады на конференцию будут отбираться по представленным авторами аннотациям, состоящим из 500 слов. Для принятых аннотаций требуются полные версии статей и презентаций. Материалы конференции будут опубликованы Российским университетом дружбы народов имени Патриса Лумумбы. Лучшие статьи будут рекомендованы к печати в ведущих российских журналах категорий К1/К2.
  </p>
  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
">В рамках конференции проводятся следующие симпозиумы:</p>
  <ul style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: -15px

">
    <li>Интеллектуальные технические системы</li>
    <li>Машиностроение и приборостроение</li>
    <li>Архитектура и строительство</li>
    <li>Геология, горное и нефтегазовое дело</li>
    <li>Управление и экономика в промышленности</li>
  </ul>
  <hr style="margin-bottom: -33px">
  
  <div style="max-width: 670px;">
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      margin-top: 50px;
    "
  >
  <b>Симпозиум «Интеллектуальные технические системы»</b>
  </p>
  <p
  style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
  "
>
<b>Председатель:</b>
</p>
<div class="uk-visible@s">
  <table>
    <tbody>
      <tr>
        <td>
          <img
          style="min-width: 150px; margin-right: 7px"
          src="{% static '/images/information_pages/home/razumny.png' %}"
          width="150"
          height="200"
        />
        </td>
        <td style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      ">
          <b>Разумный Юрий Николаевич</b><br>
          <p style="margin-bottom: 0">Директор инженерной академии Российского университета дружбы народов имени Патриса Лумумбы<br>Доктор технических наук, профессор</p>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="uk-hidden@s">
  <img
          style="min-width: 150px;"
          src="{% static '/images/information_pages/home/razumny.png' %}"
          width="150"
          height="200"
        />
  <p style="color: #002159;margin: 1rem 0;font-size: 1.07rem;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><b>Разумный Юрий Николаевич</b><br>Директор инженерной академии Российского университета дружбы народов имени Патриса Лумумбы<br>Доктор технических наук, профессор</p>
</div>


  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"><b>Направления:</b></p>
  <ul style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: -15px
">
    <li>искусственный интеллект и робототехнические системы;</li>
    <li>информационная безопасность;</li>
    <li>проектирование космических миссий и систем;</li>
    <li>машинное обучение и обработка геоданных.</li>
  </ul>
  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"><b>Контактное лицо:</b><br>Разумный Владимир Юрьевич<br><a href="mailto:razumnyy-vyu@rudn.ru">razumnyy-vyu@rudn.ru</a></p>
</div>
  
<hr style="margin-bottom: -33px">

<div style="max-width: 670px;">

<p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 50px;
"
>
<b>Симпозиум «Машиностроение и приборостроение»</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
<b>Председатель:</b>
</p>
<div class="uk-visible@s">
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px; margin-right: 7px"
      src="{% static '/images/information_pages/home/popov.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  ">
      <b>Попов Сергей Викторович</b><br>
      <p style="margin-bottom: 0">Заместитель генерального директора холдинга «Швабе» Госкорпорации «Ростех»<br>
        Доктор технических наук
        </p>

    </td>
  </tr>
</tbody>
</table>
</div> 
<div class="uk-hidden@s">
  <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/popov.png' %}"
      width="150"
      height="200"
    />
<p style="color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><b>Попов Сергей Викторович</b><br>
      Заместитель генерального директора холдинга «Швабе» Госкорпорации «Ростех»<br>
        Доктор технических наук
        </p>
</div>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Направления:</b></p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
margin-top: -15px
">
<li>нанотехнологии и новые материалы;</li>
<li>возобновляемые источники энергии;</li>
<li>технологии приборостроения;</li>
<li>техника и технология транспорта.</li>

</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Контактное лицо:</b><br>Агасиева Светлана Викторовна<br><a href="mailto:agasieva-sv@rudn.ru">agasieva-sv@rudn.ru</a></p>
</div>

<hr style="margin-bottom: -33px">

<div style="max-width: 670px;">
<p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 50px;
"
>
<b>Симпозиум «Архитектура и строительство»</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
<b>Председатель:</b>
</p>
<div class="uk-visible@s">
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px; margin-right: 7px"
      src="{% static '/images/information_pages/home/ilichev.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  ">
      <b>Ильичев Вячеслав Александрович</b><br>
      <p style="margin-bottom: 0">Главный научный сотрудник Научно-исследовательского института строительной физики РААСН<br>
        Доктор технических наук, профессор, академик РААСН
        </p>

    </td>
  </tr>
</tbody>
</table>
</div>
<div class="uk-hidden@s">
  <img
  style="min-width: 150px;"
  src="{% static '/images/information_pages/home/ilichev.png' %}"
  width="150"
  height="200"
/>
<p style="color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><b>Ильичев Вячеслав Александрович</b><br>
  Главный научный сотрудник Научно-исследовательского института строительной физики РААСН<br>
    Доктор технических наук, профессор, академик РААСН
    </p>
</div>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Направления:</b></p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
margin-top: -15px
">
<li>проектирование зданий и сооружений;</li>
<li>реставрация и реконструкция архитектурного наследия;</li>
<li>дизайн архитектурной среды;</li>
<li>компьютерное моделирование зданий и сооружений.</li>

</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Контактное лицо:</b><br>Бик Олег Витальевич<br><a href="mailto:bik-ov@rudn.ru">bik-ov@rudn.ru</a></p>
</div>

<hr style="margin-bottom: -33px">

<div style="max-width: 670px;">

 <p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 50px;
"
>
<b>Симпозиум «Геология, горное и нефтегазовое дело»</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
<b>Председатель:</b>
</p>
<div class="uk-visible@s">
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px; margin-right: 7px"
      src="{% static '/images/information_pages/home/eremenko.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    
  ">
      <b>Ерёменко Виталий Андреевич</b><br>
      <p style="margin-bottom: 0">Директор научно-исследовательского центра «Прикладная геомеханика и конвергентные горные технологии» НИТУ «МИСиС»<br>
        Доктор технических наук, профессор
        </p>

    </td>
  </tr>
</tbody>
</table>
</div>
<div class="uk-hidden@s">
  <img
  style="min-width: 150px;"
  src="{% static '/images/information_pages/home/eremenko.png' %}"
  width="150"
  height="200"
/>
<p style="color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><b>Ерёменко Виталий Андреевич</b><br>
      Директор научно-исследовательского центра «Прикладная геомеханика и конвергентные горные технологии» НИТУ «МИСиС»<br>
        Доктор технических наук, профессор
        </p>
</div>


<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Направления:</b></p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
margin-top: -15px
">
<li>поиск, разведка, освоение и добыча полезных ископаемых;</li>
<li>рациональное использование и охрана земных недр;</li>
<li>хранение и переработка нефти и газа;</li>
<li>обслуживание трубопроводного транспорта.</li>
</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Контактное лицо:</b><br>Котельников Александр Евгеньевич<br><a href="mailto:kotelnikov-ae@rudn.ru">kotelnikov-ae@rudn.ru</a></p>
</div>

<hr style="margin-bottom: -33px">

<div style="max-width: 670px;">

<p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 50px;
"
>
<b>Симпозиум «Управление и экономика в промышленности»</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
<b>Председатель:</b>
</p>
<div class="uk-visible@s">
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px; margin-right: 8px"
      src="{% static '/images/information_pages/home/burkova.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  ">
      <b>Буркова Ирина Владимировна</b><br>
      <p style="margin-bottom: 0">Ведущий научный сотрудник Института проблем управления им. В.А. Трапезникова РАН<br>
        Доктор технических наук
        </p>

    </td>
  </tr>
</tbody>
</table>
</div>

<div class="uk-hidden@s">
  <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/burkova.png' %}"
      width="150"
      height="200"
    />
  <p style="color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><b>Буркова Ирина Владимировна</b><br>
      Ведущий научный сотрудник Института проблем управления им. В.А. Трапезникова РАН<br>
        Доктор технических наук
        </p>
</div>



<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Направления:</b></p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
margin-top: -15px
">
<li>управление социальными и экономическими системами;</li>
<li>инженерно-экономическое обоснование технических систем;</li>
<li>управление проектами в промышленности;</li>
<li>статистические и инструментальные методы в экономике.</li>
</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"><b>Контактное лицо:</b><br>Самусенко Олег Евгеньевич<br><a href="mailto:samusenko@rudn.ru">samusenko@rudn.ru</a></p>
</div>

</div>
{%endblock %}
