{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Место проведения
  </h3>

  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
      font-size: 1.07rem;
    "
  >
  <b>Конференция по информационным и техническим системам (совместно с университетами ШОС и СНГ)</b> проводится на платформе Российского университета дружбы народов имени Патриса Лумумбы – единственный университет в мире, который объединяет студентов из более, чем 160 стран. Место встреч различных культур и точек зрения и, в то же время, широкая платформа для обучения, научных исследований и обсуждений.
  </p>
  <div style="background-position: 50% 30%!important;" class="uk-height-large uk-background-cover uk-light" data-src="{% static '/images/information_pages/venue/rudn.png' %}" uk-img>
  </div>
</div>
{%endblock %}
