{% load static %}
<footer class="footer">
  <div
    style="height: 150px; background-color: #002159"
    class="uk-height-small uk-light"
    uk-img
  >
    <div class="uk-container" style="max-width: 980px; height: 100%">
      <p
        style="
          font-size: 1.07rem;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          color: white;
          color: white;
          opacity: 0.5;
          display: flex;
          height: 100%;
          align-items: center;
        "
      >
        RUDN Univeristy<br />6, Miklukho-Maklaya Str.<br />117198, Moscow<br />Russian
        Federation
      </p>
    </div>
  </div>
</footer>
