{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #002159;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    About
  </h3>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    The ICITS is a series of conferences providing an international forum for
    specialists in the field of space flight dynamics. It is sponsored by RUDN
    Univeristy
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Areas of interest for the ICITS include, but are not limited to:
  </p>
  <ul>
    <li style="font-size: 1.07rem">
      <span
        style="
          color: #002159;
          margin: 1rem 0;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          text-align: justify;
        "
      >
        Intelligent and technical systems
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          color: #002159;
          margin: 1rem 0;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          text-align: justify;
        "
      >
        Mechanical engineering and instrument making
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          color: #002159;
          margin: 1rem 0;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          text-align: justify;
        "
      >
        Architecture and construction
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          color: #002159;
          margin: 1rem 0;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          text-align: justify;
        "
      >
        Geology, mining and oil and gas engineering
      </span>
    </li>
    <li style="font-size: 1.07rem">
      <span
        style="
          color: #002159;
          margin: 1rem 0;
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          text-align: justify;
        "
      >
        Management and economics in industry
      </span>
    </li>
  </ul>
  <!-- <p><b>Supervisor</b>: Razoumny Yuri Nikolaevich</p>
  <p><b>Subject of the symposium</b>: information technology and programming; artificial intelligence and machine learning; big data processing methods; robotics and cybersecurity, web-design for aerospace and other high-tech industries.</p>
  <p><b>Contact person</b>: Saltykova Olga Aleksandrovna<br><b>Email</b>: saltykova-oa@rudn.ru<br><b>Phone</b>: +7 985 388-09-12</p> -->
</div>
{%endblock %}
