{% extends "./components/base.html" %} {% block content %} {% load static %}
<body>
  <div
    class="uk-container"
    style="
      margin-top: 10px;
      margin-bottom: 25px;
      max-width: 980px;
      min-height: 320px;
    "
  >
    <h3
      style="
        font-size: 25px;
        color: #0056a6;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Abstract Submission
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
    Abstracts of original presentations are accepted for inclusion in the conference program in the following topics:
    </p>
    
    <table class="uk-table uk-table-divider uk-visible@s" style="color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">
      <tbody>
        <tr>
          <td style="border-right: 1px solid #e5e5e5;">
            <b>Symposium “Intelligent Technical Systems”</b>
            <ul style="margin-top: -2px">
              <li>Artificial intelligence and robotics</li>
              <li>Information security</li>
              <li>Space missions and systems design</li>
              <li>AIML and geoinformation data processing</li>
            </ul>
        </td>
          <td>
            <b>Symposium “Mechanical Engineering and Instrument Making”</b>
            <ul style="margin-top: -2px">
              <li>Nanotechnology and new materials</li>
              <li>Renewable energy technologies</li>
              <li>Instrument making development</li>
              <li>Transport technics and technology</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #e5e5e5;">
            <b>Symposium “Architecture and Construction”</b>
            <ul style="margin-top: -2px">
              <li>Building and construction design</li>
              <li>Restoration and reconstruction of architectural heritage</li>
              <li>Design of architectural environment</li>
              <li>Computer modeling of buildings and structures</li>
            </ul>
          </td>
          <td>
            <b>Symposium “Geology, Mining and Oil-and-gas Engineering”</b>
            <ul style="margin-top: -2px">
              <li>Search, exploration, development and production of minerals</li>
              <li>Rational management and protection of subsoils</li>
              <li>Oil-and-gas storage and processing</li>
              <li>Pipeline transport maintenance</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="border-right: 1px solid #e5e5e5;">
            <b>Symposium “Management and Economics in Industry”</b>
            <ul style="margin-top: -2px">
              <li>Innovation activity</li>
              <li>Management of social and economic systems</li>
              <li>Technical and economic feasibility in industries</li>
              <li>Mathematical, statistical and instrumental methods in economics</li>
            </ul>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <div class="uk-hidden@s" style="color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;">
    <b>Symposium “Intelligent Technical Systems”</b>
    <ul style="margin-top: -2px">
      <li>Artificial intelligence and robotics</li>
      <li>Information security</li>
      <li>Space missions and systems design</li>
      <li>AIML and geoinformation data processing</li>
    </ul>
    <b>Symposium “Mechanical Engineering and Instrument Making”</b>
    <ul style="margin-top: -2px">
      <li>Nanotechnology and new materials</li>
      <li>Renewable energy technologies</li>
      <li>Instrument making development</li>
      <li>Transport technics and technology</li>
    </ul>
    <b>Symposium “Architecture and Construction”</b>
    <ul style="margin-top: -2px">
      <li>Building and construction design</li>
      <li>Restoration and reconstruction of architectural heritage</li>
      <li>Design of architectural environment</li>
      <li>Computer modeling of buildings and structures</li>
    </ul>
    <b>Symposium “Geology, Mining and Oil-and-gas Engineering”</b>
    <ul style="margin-top: -2px">
      <li>Search, exploration, development and production of minerals</li>
      <li>Rational management and protection of subsoils</li>
      <li>Oil-and-gas storage and processing</li>
      <li>Pipeline transport maintenance</li>
    </ul>
    <b>Symposium “Management and Economics in Industry”</b>
    <ul style="margin-top: -2px">
      <li>Innovation activity</li>
      <li>Management of social and economic systems</li>
      <li>Technical and economic feasibility in industries</li>
      <li>Mathematical, statistical and instrumental methods in economics</li>
    </ul>
  </div>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      To facilitate the submission process and subsequent
      follow-up process, please consider the following guidelines, information
      and deadlines:
    </p>
    <ul style="margin-top: -20px">
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Abstracts should be submitted by <b>April 15, 2024</b> via
          online <span style="text-decoration: underline;">submission tool</span>.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Authors select the preferred symposium and topic to which they submit abstracts.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Authors indicate the preferred type of report (on-site or online).
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Authors indicate their full name, organization and email address, including for all co-authors.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Abstracts must be written in plain text and must not contain tables, figures or photographs.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        The title of abstracts should be limited to 30 words.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Abstract text should be limited to 500 words.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Submission of abstracts confirms your consent to publication of abstracts in official conference materials.
        </span>
      </li>
    </ul>
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #0056a6;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #0056a6;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >SUBMIT NOW</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <h3
      style="
        font-size: 25px;
        color: #0056a6;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Instruction of paper/presentation submission
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
    Upon completion of abstract review, accepted abstracts will be included in the conference program and a corresponding notification will be sent to the authors. For selected abstracts, full articles and original presentations must be uploaded. Please take into account the following recommendations, information and deadlines:
    </p>
    <ul style="margin-top: -15px">
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Full articles and presentations must be submitted <b>by May 19, 2024</b> via the <span style="text-decoration: underline;">online application</span>.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Articles must be prepared in the format specified in the template here and uploaded in PDF format.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        The full article must be a minimum of two pages and a maximum of eight pages.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Presentation slides must be prepared in 16:9 format and uploaded in .pptx format.
        </span>
      </li><li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
        Submitting your article and presentation confirms your consent to publication in the official conference materials.
        </span>
      </li>
    </ul>  
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #00147d;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #00147d;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >SUBMIT NOW</a
            >
          </div>
        </div>
      </div>
    </div> -->
  </div>
  {%endblock %}
</body>
