{% extends "./components/base.html" %} {% block content %} {% load static %}
<body>
  <div
    class="uk-container"
    style="
      margin-top: 10px;
      margin-bottom: 25px;
      max-width: 980px;
      min-height: 320px;
    "
  >
    <h3
      style="
        font-size: 25px;
        color: #002159;
        font-weight: bold;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Abstract Submission
    </h3>
    <p
      style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      "
    >
      Abstracts of original presentations are solicited for inclusion in the
      ICITS 2024 programme. To facilitate the submission process and subsequent
      follow-up process, please consider the following guidelines, information
      and deadlines:
    </p>
    <ul>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Abstracts should be submitted by <b>14th February 2024</b> via an
          online <b>submission tool</b>.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Principle author or contact person to provide full name and contact
          information.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Please also include a short, one paragraph, biography of the presenter
          in the body of the email.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Author(s) to indicate their preferred presentation type (oral or
          poster).
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Abstracts are to be written in plain text and should not include
          tables, figures, or photographs.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Submission of an abstract acknowledges your acceptance for the
          abstract to be published in the official conference proceedings.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Abstract title - must be limited to 50 words.
        </span>
      </li>
      <li style="font-size: 1.07rem">
        <span
          style="
            color: #002159;
            margin: 1rem 0;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            text-align: justify;
          "
        >
          Abstract text - limited to approximately 700 words (<1 page of A4)
        </span>
      </li>
    </ul>
    {% comment %}
    <div
      style="
        max-width: 980px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
      "
    >
      <div
        style="
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          position: relative;
          min-height: 150px;
          float: left;
          text-align: center;
        "
      >
        <div
          style="
            display: table-cell;
            width: 100%;
            position: relative;
            vertical-align: middle;
          "
        >
          <div
            style="
              margin-top: 10px;
              margin-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px;
            "
          >
            <a
              href="/submission_system/auth"
              class="button-r"
              style="
                border: 1px solid #00147d;
                padding: 13px 60px;
                font-size: 1rem;
                display: inline-block;
                background-color: #00147d;
                color: white;
                font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                font-size: 1.07rem;
              "
              >SUBMIT NOW</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
  {%endblock %}
</body>
