{% extends "./components/base.html" %} {% block content %} {% load static %}
<div class="uk-container" style="margin-top: 10px; max-width: 980px">
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
      text-align: center;
    "
  >
    Calendar of Events
  </h3>
  <div class="uk-child-width-1-2@s uk-text-center" uk-grid>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/chat.png' %}"
      />
      <p>EVENT ANNOUNCEMENT</p>
      <p style="margin-top: -15px">January 9, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/multimedia.png' %}"
      />
      <p>CALL FOR ABSTRACTS</p>
      <p style="margin-top: -15px">March 5, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/archive.png' %}"
      />
      <p>ABSTRACT SUBMISSION DEADLINE</p>
      <p style="margin-top: -15px">April 15, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/email.png' %}"
      />
      <p>NOTIFICATION OF AUTHORS DEADLINE</p>
      <p style="margin-top: -15px">April 19, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/check.png' %}"
      />
      <p>EARLY BIRD REGISTRATION OPEN</p>
      <p style="margin-top: -15px">March 15, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/danger.png' %}"
      />
      <p>EARLY BIRD EXPIRY</p>
      <p style="margin-top: -15px">April 30, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/calendar.png' %}"
      />
      <p>PRELIMINARY PROGRAMME</p>
      <p style="margin-top: -15px">April 28, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/bookmark.png' %}"
      />
      <p>FULL PAPER SUBMISSION DEADLINE</p>
      <p style="margin-top: -15px">May 19, 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/calendar (1).png' %}"
      />
      <p>FINAL PROGRAMME</p>
      <p style="margin-top: -15px">Middle of May 2024</p>
    </div>
    <div
      style="
        color: #002159;
        margin: 1rem 0;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <img
        src="{% static '/images/information_pages/calendar_of_events/alert.png' %}"
      />
      <p>REGISTRATION CLOSES</p>
      <p style="margin-top: -15px">May 28, 2024</p>
    </div>
  </div>
</div>
{%endblock %}
