{% extends "./components/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/information_pages/committee/styles.css' %}" />

<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
    width: 100%;
    padding: 0!important;
  "
>
  <div class="committee-container">
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Programme Committee
  </h3>
 
  <div class="uk-visible@m">

  <table class="uk-table uk-table-striped" style="color: #002159; font-size: 1.07rem;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; ">
    <tbody>
        <tr><td><b>Chair:</b></td><td></td></tr>
        <tr>
          <td>Yury Razoumny</td>
          <td>RUDN University, Russia</td>
        </tr>
        <tr><td><b>Co-Chair:</b></td><td></td></tr>
        <tr>
          <td>Sergei Koupreev</td>
          <td>RUDN University, Russia</td>
        </tr>
        <tr><td><b>Members:</b></td><td></td></tr>
        <tr>
            <td>Sergei Popov</td>
            <td>State Corporation “Rostec”, Russia</td>
        </tr>
        <tr>
          <td>Vyacheclav Ilyichev</td>
          <td>Research Institute of Building Physics of Russian Academy of Architecture and Construction Sciences, Russia</td>
        </tr>
        <tr>
          <td>Vitaly Eremenko</td>
          <td>MISIS University of science and technology, Russia</td>
        </tr>
        <tr>
          <td>Irina Burkova</td>
          <td>Institute of Control Sciences of the Russian Academy of Sciences, Russia</td>
        </tr>
        <tr>
          <td>Alireza Amiri Esfarjani</td>
          <td>Shahrood University of Technology, Iran</td>
        </tr>
        <tr>
          <td>Paing Thet</td>
          <td>Yangon Technological University, Myanmar</td>
        </tr>
        <tr>
          <td>Andrej Miller</td>
          <td>Baltic Wind Group Baltic WindWerke GmbH & Co. KG., Germany</td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Alfredo Matias Huamani Huaccan</td>
          <td>Global Yaku Consultores SAC, Peru</td>
        </tr>
        <tr>
          <td>Ahmed Abdelmaksoud</td>
          <td>Khalifa University, UAE</td>
        </tr>
        <tr>
          <td>Shufan Wu</td>
          <td>Shanghai Jiao Tong University, China</td>
        </tr>
        <tr>
          <td>Ketan Kotecha</td>
          <td>Dean of Symbiosis Institute of Technology, India</td>
        </tr>
        <tr>
          <td>Meena Laad</td>
          <td>Symbiosis Institute of Technology, India</td>
        </tr>
        <tr>
          <td>Rudolf Sandjarovsky</td>
          <td>Gumilyov Eurasian National University, Republic of Kazakhstan</td>
        </tr>
        <tr>
          <td>Victor Tur</td>
          <td>Brest State Technical University, Republic of Belarus</td>
        </tr>
        <tr>
          <td>Victor Fyodorov</td>
          <td>Russian University of Transport, Russia</td>
        </tr>
        <tr>
          <td>Ravinder Rena</td>
          <td>Durban University of Technology, South Africa</td>
        </tr>
        <tr>
          <td>Byktagul Sulaymanova</td>
          <td>Kyrgyz State Technical University, Kyrgyz Republic</td>
        </tr>
        
    </tbody>
</table>
</div>


<div class="uk-hidden@m">
  <table class="uk-table uk-table-striped" style="color: #002159; font-size: 1.07rem;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; ">
    <tbody>
        <tr><td><b>Chair:</b></td><td></td></tr>
        <tr>
          <td>Yury Razoumny</td>
          <td>RUDN University, Russia</td>
        </tr>
        <tr><td><b>Co-Chair:</b></td><td></td></tr>
        <tr>
          <td>Sergei Koupreev</td>
          <td>RUDN University, Russia</td>
        </tr>
        <tr><td><b>Members:</b></td><td></td></tr>
        <tr>
            <td>Sergei Popov</td>
            <td>State Corporation “Rostec”, Russia</td>
        </tr>
        <tr>
          <td>Vyacheclav Ilyichev</td>
          <td>Research Institute of Building Physics of Russian Academy of Architecture and Construction Sciences, Russia</td>
        </tr>
        <tr>
          <td>Vitaly Eremenko</td>
          <td>MISIS University of science and technology, Russia</td>
        </tr>
        <tr>
          <td>Irina Burkova</td>
          <td>Institute of Control Sciences of the Russian Academy of Sciences, Russia</td>
        </tr>
        <tr>
          <td>Alireza Amiri Esfarjani</td>
          <td>Shahrood University of Technology, Iran</td>
        </tr>
        <tr>
          <td>Paing Thet</td>
          <td>Yangon Technological University, Myanmar</td>
        </tr>
        <tr>
          <td>Andrej Miller</td>
          <td>Baltic Wind Group Baltic WindWerke GmbH & Co. KG., Germany</td>
        </tr>
        <tr>
          <td>Alfredo Matias Huamani Huaccan</td>
          <td>Global Yaku Consultores SAC, Peru</td>
        </tr>
        <tr>
          <td>Ahmed Abdelmaksoud</td>
          <td>Khalifa University, UAE</td>
        </tr>
        <tr>
          <td>Shufan Wu</td>
          <td>Shanghai Jiao Tong University, China</td>
        </tr>
        <tr>
          <td>Ketan Kotecha</td>
          <td>Dean of Symbiosis Institute of Technology, India</td>
        </tr>
        <tr>
          <td>Meena Laad</td>
          <td>Symbiosis Institute of Technology, India</td>
        </tr>
        <tr>
          <td>Rudolf Sandjarovsky</td>
          <td>Gumilyov Eurasian National University, Republic of Kazakhstan</td>
        </tr>
        <tr>
          <td>Victor Tur</td>
          <td>Brest State Technical University, Republic of Belarus</td>
        </tr>
        <tr>
          <td>Victor Fyodorov</td>
          <td>Russian University of Transport, Russia</td>
        </tr>
        <tr>
          <td>Ravinder Rena</td>
          <td>Durban University of Technology, South Africa</td>
        </tr>
        <tr>
          <td>Byktagul Sulaymanova</td>
          <td>Kyrgyz State Technical University, Kyrgyz Republic</td>
        </tr>
        
    </tbody>
</table>
</div>

  </div>
</div>
{%endblock %}
