{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    About
  </h3>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  <b>SCO/CIS Conference on Information and Technical Systems</b> is taking place on May 28-31, 2024 in Moscow, Russia.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  The conference is jointly organized by <b>RUDN University</b> and universities of <b>Shanghai Cooperation Organization</b> and <b>Commonwealth of Independent States</b>.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  The <b>Hybrid format</b> is supposed. We encourage researchers to take part in face-to-face activities, but as for the willing of the participants, it is possible an online experience as well.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Papers for the conferences shall be selected basing on the quality of 500 word abstracts. For accepted papers presentations and complete manuscripts are to be submitted. Conference proceedings will be published by RUDN University. The best papers will be recommended to publish in leading Russian journals (K1/K2 categories).
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  Working languages: Russian and English.
  </p>
  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
">Conference includes the following symposiums:</p>
  <ul style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
  margin-top: -15px
">
    <li>Intelligent Technical Systems</li>
    <li>Mechanical Engineering and Instrument Making</li>
    <li>Architecture and Construction</li>
    <li>Geology, Mining and Oil-and-gas Engineering</li>
    <li>Management and Economics in Industry</li>
  </ul>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
  <b>Symposium “Intelligent Technical Systems”</b>
  </p>
  <p
  style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
  "
>
Chair:
</p>
<div>
  <table>
    <tbody>
      <tr>
        <td>
          <img
          style="min-width: 150px;"
          src="{% static '/images/information_pages/home/razumny.png' %}"
          width="150"
          height="200"
        />
        </td>
        <td style="
        color: #002159;
        margin: 1rem 0;
        font-size: 1.07rem;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        text-align: justify;
      ">
          <b>Yury N. Razoumny</b><br>
          <p>Director of Academy of Engineering of RUDN University<br>
            Dr.Sc. (tech), Professor
            </p>

        </td>
      </tr>
    </tbody>
  </table>

  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
">Topics:</p>
  <ul style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
  margin-top: -15px
">
    <li>Artificial intelligence and robotics;</li>
    <li>information security;</li>
    <li>space missions and systems design;</li>
    <li>AIML and geoinformation data processing.</li>
  </ul>
  <p style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
">Contact person:<br>Vladimir Razoumny<br><a href="mailto:razumnyy-vyu@rudn.ru">razumnyy-vyu@rudn.ru</a></p>
  
</div>

<p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"
>
<b>Symposium “Mechanical Engineering and Instrument Making”</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
Chair:</p>
<div>
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/popov.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
  ">
      <b>Sergey Popov</b><br>
      <p>Deputy Director General of Shvabe Holding of the State Corporation “Rostec”<br>
        Dr.Sc. (tech)
        </p>

    </td>
  </tr>
</tbody>
</table>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Topics:</p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
margin-top: -15px
">
<li>nanotechnology and new materials;</li>
<li>renewable energy technologies;</li>
<li>instrument making development;</li>
<li>transport technics and technology.</li>

</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Contact person:<br>Dr. Svetlana Agasieva<br><a href="mailto:agasieva-sv@rudn.ru">agasieva-sv@rudn.ru</a></p>

</div> <p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"
>
<b>Symposium “Architecture and Construction”</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
Chair:
</p>
<div>
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/ilichev.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
  ">
      <b>Vyacheclav Ilyichev</b><br>
      <p>Chief Researcher in Construction Science of the Research Institute of Building Physics Russian Academy of Architecture and Construction Sciences<br>
        Dr.Sc. (tech), professor
        
        </p>

    </td>
  </tr>
</tbody>
</table>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Topics:</p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
margin-top: -15px
">
<li>building and construction design;</li>
<li>restoration and reconstruction of architectural heritage;</li>
<li>design of architectural environment;</li>
<li>computer modeling of buildings and structures.</li>

</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Contact person:<br>Dr. Oleg Bik<br><a href="mailto:bik-ov@rudn.ru">bik-ov@rudn.ru</a></p>

</div> <p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"
>
<b>Symposium “Geology, Mining and Oil-and-gas Engineering”</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
Chair:
</p>
<div>
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/eremenko.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
    
  ">
      <b>Vitaly Eremenko</b><br>
      <p>Director of the Research Center “Applied Geomechanics and Convergent Mining Technologies” of the MISIS University of science and technology<br>
        Dr.Sc. (tech), Professor
        
        </p>

    </td>
  </tr>
</tbody>
</table>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Topics:</p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
margin-top: -15px
">
<li>search, exploration, development and production of minerals;</li>
<li>rational management and protection of subsoils;</li>
<li>oil-and-gas storage and processing;</li>
<li>pipeline transport maintenance.</li>
</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Contact person:<br>Dr. Alexander Kotelnikovч<br><a href="mailto:kotelnikov-ae@rudn.ru">kotelnikov-ae@rudn.ru</a></p>

</div> <p
style="
  color: #002159;
  margin: 1rem 0;
  font-size: 1.07rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
"
>
<b>Symposium “Management and Economics in Industry”</b>
</p>
<p
style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
"
>
Chair:
</p>
<div>
<table>
<tbody>
  <tr>
    <td>
      <img
      style="min-width: 150px;"
      src="{% static '/images/information_pages/home/burkova.png' %}"
      width="150"
      height="200"
    />
    </td>
    <td style="
    color: #002159;
    margin: 1rem 0;
    font-size: 1.07rem;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
  ">
      <b>Irina Burkova</b><br>
      <p>Leading scientist at the Institute of Control Sciences of the Russian Academy of Sciences<br>
        Dr.Sc. (tech)
        </p>

    </td>
  </tr>
</tbody>
</table>

<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Topics:</p>
<ul style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
margin-top: -15px
">
<li>innovation activity;</li>
<li>management of social and economic systems;</li>
<li>technical and economic feasibility in industries;</li>
<li>mathematical, statistical and instrumental methods in economics.</li>
</ul>
<p style="
color: #002159;
margin: 1rem 0;
font-size: 1.07rem;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: justify;
">Contact person:<br>Dr. Oleg Samusenko<br><a href="mailto:samusenko@rudn.ru">samusenko@rudn.ru</a></p>

</div>

</div>
{%endblock %}
