{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #002159;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    HOME
  </h3>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    The
    <b>International Conference on Information and Technical Systems</b> is
    taking place <b>on 28 – 30 May 2024</b> in <b>Russia, Moscow</b>
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    The International Conference on Information and Technical Systems is jointly
    <b>organized by RUDN Univeristy</b>, <b>...</b> and <b>...</b> .
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    The ICITS is a series of symposia sponsored by various space agencies. It is
    intended to provide an international forum for specialists in the field of
    space flight dynamics, with an emphasis on operational activities and
    results.
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    We look forward to seeing you,
  </p>
  <p
    style="
      color: #002159;
      margin: 1rem 0;
      font-size: 1.07rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    The ICITS organising team.
  </p>
</div>
{%endblock %}
