{% extends "./components/base.html" %} {% block content %} {% load static %}
<div
  class="uk-container"
  style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  "
>
  <h3
    style="
      font-size: 25px;
      color: #0056a6;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Venue
  </h3>

  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
    "
  >
  <b>SCO/CIS Conference on Information and Technical Systems</b> is hosted by RUDN University – the only university in the world that unites students from more than 160 countries, a meeting point for different cultures and viewpoints, and at the same time – an expanding platform for education, research and discussion.
  </p>
  <div class="uk-height-large uk-background-cover uk-light" data-src="{% static '/images/information_pages/venue/rudn.png' %}" uk-img>
  </div>
</div>
{%endblock %}
