{% extends "./components/base.html" %} {% block content %} {% load static %}
<div class="uk-container" style="margin-top: 10px; max-width: 980px">
  <h3
    style="
      font-size: 27px;
      color: #002159;
      font-weight: bold;
      margin: 1rem 0;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-align: justify;
    "
  >
    Event
  </h3>
  <p
    style="
      color: #002159;
      font-weight: bold;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-decoration: underline;
      font-size: 20px;
    "
  >
    Venue
  </p>
  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
    "
  >
    The
    <b>International Conference on Information and Technical Systems (ICITS)</b>
    will be held at the <b>RUDN University</b>, located 15km north of Vnukovo
    Airport.
  </p>
  <p
    style="
      color: #002159;
      font-weight: bold;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-decoration: underline;
      font-size: 20px;
    "
  >
    From Vnukovo International Airport By bus
  </p>
  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
    "
  >
    TextTextText TextTextTextTextText TextTextTextTextText TextTextText
  </p>
  <p
    style="
      color: #002159;
      font-weight: bold;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-decoration: underline;
      font-size: 20px;
    "
  >
    Arriving by train
  </p>
  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
    "
  >
    TextText TextTextTextTextTextTextTex tTextTextTextText TextTextText
  </p>
  <p
    style="
      color: #002159;
      font-weight: bold;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-decoration: underline;
      font-size: 20px;
    "
  >
    Arriving by car
  </p>
  <p
    style="
      color: #002159;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 20px;
    "
  >
    TextTextT extTextTextTextTextTextTe xtTextTextTextTex tTextTextText
  </p>
</div>
{%endblock %}
