{% autoescape off %}
<tbody>
  <tr>
    <td align="center" valign="top" style="border-collapse: collapse">
      <table
        id="7129be87bd1bdcdtemplateHeader"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
          background-color: rgb(252, 252, 252);
          border-bottom-width: 0px;
          border-collapse: collapse;
          width: 640px;
        "
      >
        <tbody>
          <tr>
            <td
              class="f146fa86ab75f5edheaderContent"
              style="
                border-collapse: collapse;
                color: rgb(0, 50, 71);
                font-family: arial, 'helvetica neue', helvetica, sans-serif;
                font-size: 16pt;
                font-weight: bold;
                line-height: 21.3333px;
                padding: 0px;
                text-align: center;
                vertical-align: middle;
              "
            >
              <img
                id="df70e6f5fa95d110headerImage campaign-icon"
                alt="Header Image"
                src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Faz659834.vo.msecnd.net%2Feventsairwesteuprod%2Fproduction-atpi-public%2F4e656d49f2ef42399cfb69504d353ec0&amp;proxy=yes&amp;key=14b0f9b16dabd76a9583d72421b572f8"
                style="
                  border: 0px;
                  height: auto;
                  line-height: 21.3333px;
                  text-decoration: none;
                "
              />
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="border-collapse: collapse">
      <table
        id="b547c67924d0eacctemplateBody"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        style="border-collapse: collapse"
      >
        <tbody>
          <tr>
            <td align="center" valign="top" style="border-collapse: collapse">
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="640"
                style="border-collapse: collapse"
              >
                <tbody>
                  <tr>
                    <td
                      class="e062fc451f09656dsectionHeaderCell"
                      style="
                        border-collapse: collapse;
                        padding-left: 10px;
                        padding-right: 10px;
                      "
                    >
                      <h1
                        style="
                          color: rgb(0, 50, 71);
                          display: block;
                          font-family: arial, 'helvetica neue', helvetica,
                            sans-serif;
                          font-size: 16pt;
                          font-weight: bold;
                          line-height: 21.3333px;
                          margin: 10px 0px;
                          text-align: left;
                        "
                      >
                        ISSFD 2024 - Abstract Submission Confirmation
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="60983f8192f65a2abodyContent"
                      style="
                        border-collapse: collapse;
                        padding-left: 10px;
                        padding-right: 10px;
                      "
                    >
                      <div
                        style="
                          color: rgb(68, 68, 68);
                          font-family: arial, 'helvetica neue', helvetica,
                            sans-serif;
                          font-size: 11pt;
                          line-height: 17.6px;
                          text-align: left;
                        "
                      >
                        <p>
                          <br />Dear Vladimir Razoumny,<br /><br />Thank you for
                          submitting your abstract to the<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><strong
                            >29th International Symposium on Space Flight
                            Dynamics (ISSFD)</strong
                          >.&nbsp; Please find below your abstract details:<br /><br />&nbsp;
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="e062fc451f09656dsectionHeaderCell"
                      style="
                        border-collapse: collapse;
                        padding-left: 10px;
                        padding-right: 10px;
                      "
                    >
                      <h1
                        style="
                          color: rgb(0, 50, 71);
                          display: block;
                          font-family: arial, 'helvetica neue', helvetica,
                            sans-serif;
                          font-size: 16pt;
                          font-weight: bold;
                          line-height: 21.3333px;
                          margin: 10px 0px;
                          text-align: left;
                        "
                      >
                        Abstract Details
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-collapse: collapse">
                      <table
                        class="609d8309e2e41771templateDataTable"
                        border="0"
                        cellpadding="10"
                        cellspacing="0"
                        width="100%"
                        style="
                          background-color: rgb(252, 252, 252);
                          border-collapse: collapse;
                          border-top: 1px solid rgb(0, 50, 71);
                          table-layout: fixed;
                        "
                      >
                        <tbody>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Abstract Title
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Method of optimal satellite constellation design
                              for on-orbit servicing of multiple spacecraft on
                              given significantly different orbits
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Paper Number
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              133
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Paper Status
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Submitted
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Preffered Presentation Type
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Oral Presentation
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Topic
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Constellation design and maintenance
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Presenting Author
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Dr. Vladimir Razoumny<br />Affiliations: Peoples'
                              Friendship University of Russia (Rudn
                              University)<span
                                class="7ed5c23730e83f3bApple-converted-space"
                                >&nbsp;</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Co-Author
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Prof. Andrey Baranov<br />Affiliations: Keldysh
                              Institute of Applied Mathematics<span
                                class="7ed5c23730e83f3bApple-converted-space"
                                >&nbsp;</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Co-Author
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Prof. Yury Razoumny<br />Affiliations: Peoples'
                              Friendship University of Russia (Rudn
                              University)<span
                                class="7ed5c23730e83f3bApple-converted-space"
                                >&nbsp;</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <th
                              class="47b1601c647eacb1dataTableHeading"
                              valign="top"
                              style="
                                background-color: rgb(0, 50, 71);
                                border-bottom: 1px solid rgb(0, 50, 71);
                                color: rgb(255, 255, 255);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 10pt;
                                font-weight: bold;
                                line-height: 16px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                                width: 203.641px;
                              "
                            >
                              Co-Author
                            </th>
                            <td
                              class="2cc19c036e00be8adataTableContent"
                              valign="top"
                              style="
                                border-bottom: 1px solid rgb(0, 50, 71);
                                border-collapse: collapse;
                                border-right: 1px solid rgb(0, 50, 71);
                                color: rgb(68, 68, 68);
                                font-family: arial, 'helvetica neue', helvetica,
                                  sans-serif;
                                font-size: 11pt;
                                line-height: 17.6px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                                text-align: left;
                              "
                            >
                              Prof. Antonio F.B.A. Prado<br />Affiliations:
                              National Institute for Space Research<span
                                class="7ed5c23730e83f3bApple-converted-space"
                                >&nbsp;</span
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="60983f8192f65a2abodyContent"
                      style="
                        border-collapse: collapse;
                        padding-left: 10px;
                        padding-right: 10px;
                      "
                    >
                      <div
                        style="
                          color: rgb(68, 68, 68);
                          font-family: arial, 'helvetica neue', helvetica,
                            sans-serif;
                          font-size: 11pt;
                          line-height: 17.6px;
                          text-align: left;
                        "
                      >
                        <p>
                          <br />In case the above mentioned details are not
                          correct, please access the<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><a
                            href="https://atpi.eventsair.com/issfd2024/abstractsubmission"
                            rel="noopener noreferrer"
                            target="_blank"
                            data-link-id="1"
                            style="
                              color: rgb(0, 50, 71);
                              font-weight: normal;
                              text-decoration: underline;
                            "
                            >Abstract Submission Portal here,</a
                          ><span class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          >or contact the ESA Conference Bureau.<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><br /><br />Should you have any questions, please do
                          not hesitate to contact us.<br /><br />We look forward
                          to welcoming you to<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><strong
                            >29th International Symposium on Space Flight
                            Dynamics (ISSFD).</strong
                          ><br /><br />On behalf of the Organising Committee<br /><br />Kind
                          regards,<br /><br />ATPI Corporate Events<br />ESA
                          Conference Bureau<br />Keplerlaan 1, 2201 AZ
                          Noordwijk, The Netherlands<br />PO Box 299, 2200 AG
                          Noordwijk,&nbsp; The Netherlands<br />T:
                          <span class="wmi-callto">+31 71 565 5005</span
                          ><br />E:<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><a
                            href="mailto:esaconferencebureau@atpi.com"
                            target="_blank"
                            rel="noopener noreferrer"
                            style="
                              color: rgb(0, 50, 71);
                              font-weight: normal;
                              text-decoration: underline;
                            "
                            >esaconferencebureau@atpi.com</a
                          >&nbsp;<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><br />W:&nbsp;<span
                            class="7ed5c23730e83f3bApple-converted-space"
                            >&nbsp;</span
                          ><a
                            href="http://www.atpi.com/"
                            data-link-id="2"
                            target="_blank"
                            rel="noopener noreferrer"
                            style="
                              color: rgb(0, 50, 71);
                              font-weight: normal;
                              text-decoration: underline;
                            "
                            >www.atpi.com</a
                          >
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="center"
                      valign="top"
                      style="border-collapse: collapse"
                    >
                      <table
                        id="9f290f3e0b30d0cbtemplateFooter"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border-collapse: collapse; border-top-width: 0px"
                      >
                        <tbody>
                          <tr>
                            <td
                              class="f4ebce78848652e7footerContent"
                              valign="top"
                              style="border-collapse: collapse"
                            >
                              <table
                                border="0"
                                cellpadding="10"
                                cellspacing="0"
                                style="border-collapse: collapse; width: 640px"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      valign="top"
                                      style="
                                        border-collapse: collapse;
                                        padding: 0px;
                                        text-align: center;
                                      "
                                    >
                                      <img
                                        alt="Footer image"
                                        src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Faz659834.vo.msecnd.net%2Feventsairwesteuprod%2Fproduction-atpi-public%2Fa68a886329c7410cb2743ade0b4c1636&amp;proxy=yes&amp;key=5f75e74de9f5d46e3ae011d2a8f9a63a"
                                        style="
                                          border: 0px;
                                          display: inline;
                                          height: auto;
                                          line-height: 14.6667px;
                                          text-decoration: none;
                                        "
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
{% endautoescape %}
